body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:40px;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px;
}

img{
    width:180px;
    border-radius:50%;
}

.card{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
